body {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  color: #000;
}

.app {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 368px;
  width: 100%;

  padding: 0 24px;
}

.text-center {
  text-align: center;
}

.text {
  font-size: 12px;
  text-align: center;
}
